/* reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Lato", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.row {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    padding: 0 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 49.99999%;
}

.col-full {
    width: 100%;
}

.margin48 {
    margin: 48px 0;
}

.margin10 {
    margin-top: 10px;
}

.text-center {
    text-align: center;
}

.mt-16 {
    margin-top: 16px !important;
}

.btn {
    padding: 10px 16px;
    background-color: #000;
    color: #fff;
    margin-top: 2px;
    text-decoration: none;
    display: inline-block;
    border: none;
    -webkit-appearance: none; /*For Chrome*/
    -moz-appearance: none;/*For Mozilla*/
     appearance: none;
     font-size: 1.6rem;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

.header {
    height: 46px;
    background-color: #000;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.header-list {
    list-style: none;
    display: flex;
}

.header-listdown {
    position: relative;

}

.header-listdown:hover .listdown {
    display: block;
}

.listdown-item:hover .listdown-item__link {
    background-color: #ccc;
}


.listdown {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    list-style: none;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.listdown-item {
    min-width: 160px;
}



.listdown-item__link {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 12px 16px
}

.header-list .listdown-item__link {
    font-size: 1.6rem;
}


.header-item__link {
    text-decoration: none;
    color: #fff;
    display: inline-flex;
    padding: 0 24px;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
    line-height: 46px;
}

.header-item:hover .header-item__link {
    color: #000;
    background-color: #ccc;
}


.header-item__link .header-listdown__icon {
    display: flex;
    align-items: center;
    padding-left: 4px;

}

.header-search {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.header-search__menu {
    display: none;
}

.header-search__link {
    color: #fff;
    padding: 12px 24px;

}

.header-search__icon {
    font-size: 1.4rem;
}

.header-search:hover {
    background-color: #f44336;
}


.slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url(/band/assets/img/chicago.jpg) top center / cover no-repeat;
    position: relative;

}

.slider-text {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 48px;

}

.slider-heading {
    color: #fff;
    font-size: 2.4rem;
    padding: 10px 0;
    font-weight: 500;
}

.slider-description {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px 110px 16px;
}

.action,
.action:visited {
    color: #0018ef;

}



.content-heading {
    text-align: center;
    color: #666670;
    margin: 10px 0;
    font-size: 3rem;
    font-weight: 400;
    font-family: "Segoe UI", Arial, sans-serif;
    letter-spacing: 4px;
}

.content-sub__heading {
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    font-weight: 100;
    color: #666;
}

.content-text {
    text-align: justify;
    margin-top: 36px;
    font-size: 1.4rem;
    font-weight: 540;
    line-height: 1.4;

}

.section-member {
    padding-top: 52px;

}

.member-name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 15px;

}

.member-img {
    width: 60%;
    border-radius: 4px;
}


.content-heading__tour {
    color: #fff;
}

.content-sub__heading-tour {
    color: #fff;
    opacity: 0.6;
}

.tour-section {
    background-color: #000;
}


.tour-booking {
    background-color: #fff;
    margin-top: 40px;
}

.booking-list {
    list-style: none;
}

.booking-item {
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 9px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;

}

.sold-out {
    padding: 1px 8px;
    margin-left: 16px;
    background-color: #f44336;
    color: #fff;
    display: inline-block;
}

.booking-slot {
    padding: 0 8px;
    border-radius: 50%;
    margin-right: 16px;
    color: #fff;
    background-color: #000;
    float: right;
    font-size: 1.2rem;
    line-height: 2.2rem;
    margin-top: -2px;

}

.place-list {
    margin-top: 32px;
}

.place-img {
    width: 100%;
    vertical-align: middle;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 1.5rem;
    background-color: #fff;

}

.place-heading {
    font-weight: 600;
    font-size: 1.5rem;
}

.place-time {
    opacity: 0.6;
    margin: 18px 0;
    line-height: 1.4;
}

.place-description {
    margin: 18px 0;

}

.contact-info {
    font-size: 1.8rem;
    line-height: 1.6;
}

.contact-info i[class*="fa-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 1.5rem;

}



.form-control {
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 100%;
    font-size: 1.6rem;
}

.form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

.map {
    max-width: 100%;
    filter: grayscale(50%);
}

.footer {
    text-align: center;
    margin: 68px 0;
}

.socials a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 2.2rem;
}

.socials-icon:hover {
    opacity: 0.5;
}

.powered {
    padding: 18px 0;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.powered a {
    color: rgba(0, 0, 0, 0.7);

}